<div class="valbut">
  <%= form_tag("/polin/view", :method => "get") do %>
      <%= label_tag("Value:") %>
      <%= text_field_tag(:v1) %> <br/>
      <br/>
      <%= submit_tag("Calculation") %>
  <% end %>
</div>
