<div class='container'>
  <div class='headline'><%= t('editing') %></div>

  <%= render 'form', user: @user, submit_text: t('show'), url_path: user_path, back_path: user_path %>

  <div id='notice'><%= notice %></div>
</div>